$primary: #0f1e2d;
$secondary: #6c757d;
$tecial: #007bff;
$special: #16161B;
$white: white;
$green: green;
$lightblue: lightblue;
$blue: blue;
$lightgreen: lightgreen;
$grey: grey;
$yellow: yellow;
$black: black;
$red: red;
$purple: purple;
$palevioletred: palevioletred;
$light: #eeeeee;
$dark: #333333;
$pink: pink;
$main: #0f1e2d;
$orange: orange;
$skyblue: skyblue;
$spec1: #192237;
$spec2: #151c2d;
$auth: '#1B1C22';
$authInner: '#25262F';
$border: #34353E;
$authText:#6691A4;
$authButton:#8080FC
// Add more color variables as needed
