@use '@/ui/abstracts';

.container {
  @include abstracts.mq('laptop') {
    @include abstracts.boxProperty(100%,100%,'', 0px, inherit);
    @include abstracts.displayFlex(flex-start, flex-start,column nowrap);
    gap: 10px;
    background: black;

    .controlBar {
      display:none;
    }

    .recentWrapper {
      @include abstracts.boxProperty(100%,95%,'', 10px, abstracts.$primary);
      border-radius: 5px;
      // background: grey;


    }
    .chartsWrapper {
      @include abstracts.boxProperty(100%,500px,'', 10px, abstracts.$primary);
      border-radius: 5px;
      color: white;
      background: red;
      position: relative;
    };
  };

  }
