@use '@/ui/abstracts';
.container {
  @include abstracts.mq('mobileS') {
    @include abstracts.boxProperty(100%,100%,'', 0px, inherit);
    @include abstracts.displayFlex(flex-start, flex-start,column nowrap);
    gap: 10px;
    // background: blue;

    .searchbarWrapper {
      @include abstracts.boxProperty(100%,70px,'', 5px, abstracts.$primary);
      border-radius: 5px;
      color: abstracts.$black;
    };

    .contentWrapper {
      @include abstracts.boxProperty(100%,600px, abstracts.$white);

    }
  };

  }
