@use '@/ui/abstracts';

.container {
  @include abstracts.mq('mobileS') {
    @include abstracts.boxProperty(100%, 350px, auto, 10px, abstracts.$white);
    @include abstracts.displayFlex(space-between, center, column nowrap);
    border: 1px solid abstracts.$light;

    .textWrapper {
      @include abstracts.boxProperty(100%, 100px, '', 0px, abstracts.$white);
      @include abstracts.displayFlex(center, center);
    }

    .form {
      @include abstracts.boxProperty(100%, 200px, auto, 0px, abstracts.$blue);
      @include abstracts.displayFlex(space-around, center, column nowrap);
      font-size: 0.8rem;
      background: inherit;
    }

    .error {
      @include abstracts.boxProperty(
        100%,
        abstracts.remsize(60),
        auto,
        abstracts.remsize(5)
      );
      background: palevioletred;
      @include abstracts.displayFlex(center, center);
      display: none;
    }

    .inputContainer {
      @include abstracts.boxProperty(100%, 200px, '', abstracts.remsize(0));
      @include abstracts.displayFlex(space-around, center, column nowrap);
      // background: red;

      .inputWrapper {
        @include abstracts.boxProperty(100%, 40px, '', abstracts.remsize(0));
        // background: blue;
        border-bottom: 1px solid abstracts.$black;
        @include abstracts.displayFlex(
          space-between,
          flex-start,
          column nowrap
        );

        .label {
          font-size: 1rem;
        }

        .input {
          @include abstracts.boxProperty(
            100%,
            100%,
            '',
            abstracts.remsize(5),
            none
          );
          font-size: 1rem;
          border: none;
          outline: none;
        }
      }

      .authButtonWrapper {
        position: relative;
        // top:10px;
        width: 100%;
        height: 40px;
        background: blue;
        border-radius: 10px;
        padding: 2px;

        .forgotpasswordButton {
          @include abstracts.boxProperty(100%, 100%);
          padding: 0;
          border: none;
          background: inherit;
          color: abstracts.$white;
          font-size: 1rem;
        }
      }
      .signinWrapper {
        width: 100%;
        // height: 20px;
        // background: grey;
        @include abstracts.displayFlex(flex-end, center);
        padding: 10px;
        position: relative;
        bottom: 25px;
      }
    }
  }
}
