@use '@/ui/abstracts';

.container {
  @include abstracts.mq('mobileS') {
    width: 40px;
    height: 30px;
    @include abstracts.displayFlex(space-between, flex-start, column nowrap);
    // gap: 10px;
    .buttonWrapper {
      width: 40px;
      height: 100%;
      // background: blue;
      // padding: 2px;
    }

    .mobilemenuWrapper {
      height: 450px;
      width: 150px;
      margin-top: 10px;
      // background: red;
    }
  }
}
