@use '@/ui/abstracts';
// @use './_infoWrapper.scss';

.mainContainer {
  @include abstracts.mq('mobileS') {
    @include abstracts.boxProperty(100%, 100%, '', 0px, abstracts.$primary);
    display: flex;
    gap: 5px;
    position: relative;

    .adminDashboardWrapper {
      display: none;
    }

    .content {
      width: 60%;
      height: 100%;
      @include abstracts.displayFlex(center, center);
      // background: abstracts.$red;
      flex: 4;
      gap: 5px;
      font-size: .8rem;

      .childrenWrapper {
        width: 79%;
        height: 100%;
        // background: abstracts.$primary;
        flex: 4;
      }
    }
    .newupdateWrapper {
      display: none;
    }
  }

  // @include abstracts.mq('tablet') {
  //
  //   // width: 400px;
  //   background: grey;
  // }
  @include abstracts.mq('laptop') {
    @include abstracts.boxProperty(100%, 100vh, '', 0px);
    @include abstracts.displayFlex(space-between, center, row nowrap);
    background: grey;

    .adminDashboardWrapper {
      width: 250px;
      height: 100%;
      display: flex;
    }

    .content {
      width: 800px;
      min-width: 800px;
      max-width: 1600px;
      height: 100%;
      display: flex;
      // background: abstracts.$white;
      @include abstracts.displayFlex(space-between, center, row nowrap);
      flex: 4;
      gap: 5px;

      .childrenWrapper {
        width: 79%;
        height: 100%;
        background: abstracts.$red;
        flex: 4;
      }
    }
  }
}
