@use '@/ui/abstracts';

.container {
  grid-area: n;
  @include abstracts.mq('mobileS') {
    @include abstracts.boxProperty(100%, 100%, '', 2px, abstracts.$special);
    @include abstracts.displayFlex(center, center);
    position: relative;
    // background: grey;
    .wrapper {
      @include abstracts.boxProperty(100%, 100%, '', 0px);
      @include abstracts.displayFlex(space-between, center, row nowrap);
      width: 100%;
      // padding-left: 10px;
      // background: inherit;

      .layout1 {
        @include abstracts.boxProperty(170px, 100%, '', 3px, inherit);
        @include abstracts.displayFlex(space-between, center, row nowrap);
        // background: #ffcf;
        .logoWrapper {
          .logoLink {
            .iconLogo {
              display: none;
            }
            .logo {
              display: none;
            }
          }
        }

        .searchInputWrapper {
          @include abstracts.boxProperty(80px, 45px, '', '', abstracts.$dark);
          @include abstracts.displayFlex(space-around, center, row nowrap);
          border-radius: 10px;

          .searchIcon {
            color: abstracts.$light;
          }

          .searchinputLink {
            color: abstracts.$light;
            font-size: 0.8rem;
            .textMobile {
              display: inline-block;
            }

            .textbigScreen {
              display: none;
            }
          }
        }
      }

      .layout2 {
        @include abstracts.boxProperty(170px, 100%, '', 5px, red);
        @include abstracts.displayFlex(space-around, center, row nowrap);
        background: inherit;

        .actions {
          @include abstracts.boxProperty(100%, 45px, '', '', abstracts.$dark);
          @include abstracts.displayFlex(space-between, center, row nowrap);
          background: inherit;

          .notificationButton {
            background: inherit;
            border: none;
            color: abstracts.$light;
            position: relative;

            .notificationIndicator {
              position: absolute;
              top: -7px;
              right: 0;
              background-color: abstracts.$lightblue;
              height: 0.375rem;
              width: 0.375rem;
              border-radius: 50%;
              display: inline-block;
            }
            .bellWrapper {
              height: 25px;
              width: 25px;
              top: 0;
              right: 0;
              background-color: black;
              border-radius: 50%;
              @include abstracts.displayFlex(center, center);

              .notificationIcon {
                // position: absolute;
                height: 20px;
                width: 20px;
              }
            }
          }

          .authWrapper {
            width: 90%;
            height: 100%;
            @include abstracts.displayFlex(space-between, center, row nowrap);
            padding: 5px;
            gap: 5px;
            // background: blue;

            .authButtonLogin,
            .authButtonSignup {
              width: 70px;
              height: 100%;
              @include abstracts.displayFlex(center, center);
              border-radius: 8px;
              color: abstracts.$light;
            }
            .authButtonLogin {
              border: 1px solid abstracts.$light;
              background: abstracts.$dark;
            }

            .authButtonSignup {
              background: abstracts.$blue;
              border: none;
            }
          }
        }
      }
    }
  }
}
