@use '@/ui/abstracts';

.container {
  @include abstracts.mq('laptop') {
    background: inherit;
    width: 700px;
    height: 100%;
    @include abstracts.displayFlex(space-around, center,column nowrap);

    .textWrapper {
      @include abstracts.boxProperty(100%,200px,'',0px,inherit);
    @include abstracts.displayFlex(space-around, center,column nowrap);
    
    .text1 {

    };

    .text2 {
      height: 40px;
      margin-bottom: 25px;
      // background: red;
    }


    }
  }
}
