@use '@/ui/abstracts';

.container {
  @include abstracts.mq('laptop') {
    @include abstracts.displayFlex(space-between, center, row nowrap);
    height: 100%;
    // padding-right: 50px;
    // padding-left: 50px;
    width: 80%;
    margin: auto;
    background: inherit;
    // background: blue;

    .wrapper {
      height: 100%;
      width: 600px;
      // @include abstracts.displayFlex(space-around, center, row nowrap);
      background: inherit;
    }

    .clockWrapper {
      // background: red;
    }
  }
}
