@use '../../abstracts';

.container {
  @include abstracts.mq('mobileS') {
    @include abstracts.boxProperty(remsize(120),remsize(50));
    position:relative;

    a {
      @include abstracts.boxProperty(100%,80%);
      @include abstracts.displayFlex(center,center);
      text-align:center;
      color:white;
      text-decoration:none;
      opacity: .9;
    }

  };

  @include abstracts.mq('tablet') {
    // width:200px;
    border-radius: 30px;

     &:hover {
      position:relative;
      opacity: 1;

      .signinHoverWrapper {
        @include abstracts.animations(OpacityKeyframe, 1s, ease-in-out, forwards);
        @include abstracts.opacityKeyframe;
        display:inline-block;
        background:grey;
        pointer-events: inherit;
        position:absolute;
      };

     };
  };
};
