@use '@/ui/abstracts';

.container {
  @include abstracts.mq('laptop') {
    @include abstracts.displayFlex(center, center);

    .wrapper {
      @include abstracts.displayFlex(space-between center, row nowrap);
      .logoWrapper {
        font-weight: bold;
        font-size: 1.125rem;

        &:hover {
          color: var(--customgreys-dirtyGrey);
        }
      }
      .layout1 {
        @include abstracts.boxProperty(400px, 100%, '', 0px);
        @include abstracts.displayFlex(space-between, center, row nowrap);
        .logoWrapper {
          .logoLink {
            .iconLogo {
            }
            .logo {
            }
          }
        }

        .searchInputWrapper {
          @include abstracts.boxProperty(200px, 45px, '', '', abstracts.$dark);
          @include abstracts.displayFlex(space-around, center, row nowrap);
          border-radius: 10px;

          .searchIcon {
            color: abstracts.$light;
          }

          .searchinputLink {
            color: abstracts.$light;
            font-size: 0.8rem;
            .textMobile {
              display: none;
            }

            .textbigScreen {
              display: inline-block;
            }
          }
        }
      }

      .layout2 {
        @include abstracts.displayFlex(space-around, center, row nowrap);

        .actions {
          @include abstracts.boxProperty(100%, 80%, '', '', abstracts.$dark);
          @include abstracts.displayFlex(space-between, center, row nowrap);
          background: inherit;

          .notificationButton {
            background: inherit;
            border: none;
            color: abstracts.$light;
            position: relative;

            .notificationIndicator {
              position: absolute;
              top: -7px;
              right: 0;
              background-color: abstracts.$lightblue;
              height: 0.375rem;
              width: 0.375rem;
              border-radius: 50%;
              display: inline-block;
            }
            .bellWrapper {
              height: 25px;
              width: 25px;
              top: 0;
              right: 0;
              background-color: black;
              border-radius: 50%;
              @include abstracts.displayFlex(center, center);

              .notificationIcon {
                // position: absolute;
                height: 20px;
                width: 20px;
              }
            }
          }

          .authWrapper {
            width: 170px;
            height: 100%;
            @include abstracts.displayFlex(space-between, center, row nowrap);
            // padding: 5px;
            gap: 10px;
            // background: red;

            .authButtonLogin,
            .authButtonSignup {
              width: 100px;
              height: 85%;
              @include abstracts.displayFlex(center, center);
              border-radius: 8px;
              color: abstracts.$light;
            }
            .authButtonLogin {
              border: 1px solid abstracts.$light;
              background: abstracts.$dark;
            }

            .authButtonSignup {
              background: abstracts.$blue;
              border: none;
            }
          }
        }
      }
    }
  }
}
