@use '@/ui/abstracts';

.wrapper {
  display: grid;
  @include abstracts.mq('mobileS') {
    @include abstracts.boxProperty(100%, '', auto, 0px, abstracts.$red);
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: 80px auto 80px;
    grid-template-areas:
      'n n n n n n n n n n'
      'm m m m m m m m m m'
      'f f f f f f f f f f';
  }

  @include abstracts.mq('tablet') {
    // grid-template-rows: 80px auto 400px;
  }

  @include abstracts.mq('laptop') {
    @include abstracts.boxProperty(
      100%,
      '',
      auto,
      50px,
      abstracts.$red
    );
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: 80px auto 50px;
    grid-template-areas:
      'n n n n n n n n n n'
      'm m m m m m m m m m'
      'f f f f f f f f f f';
  }
}
