@use '@/ui/abstracts';
@use '@/ui/keyframes/_slideIn';
@use '@/ui/keyframes/_slideOut';

.containerr {
  @include abstracts.mq('mobileS') {
    @include abstracts.boxProperty(150px, 450px, '', 0px, inherit);
    @include abstracts.displayFlex(space-between,center,column nowrap);
    // background: abstracts.$grey;
    gap: 10px;
    // position: absolute;
    display:none;
  }
}
.menuOpen {
    @include abstracts.boxProperty(150px, 80vh, '', 15px, inherit);
  animation: SlideIn 0.5s forwards;
    @include abstracts.displayFlex(space-between,center,column nowrap);
    background: abstracts.$black;

    .logoWrapper {
      width: 100%;
      height: 70px;
      text-align: center;
      border-bottom: 1px solid white;
      margin-bottom:20px ;
    }
}

.menuClose {
    @include abstracts.boxProperty(150px, 80vh, '', 5px, inherit);
  animation: SlideOut 0.5s forwards;
    @include abstracts.displayFlex(space-between,center,column nowrap);
    background: abstracts.$black;

    .logoWrapper {
      width: 100%;
      height: 70px;
      text-align: center;
      border-bottom: 1px solid white;
      margin-bottom:20px ;
    }
}
