@use '@/ui/abstracts';

.container {
  @include abstracts.mq('mobileS') {
    @include abstracts.boxProperty(100%, '', '', 5px, abstracts.$purple);
    // @include abstracts.spaceAround(column nowrap);
    background: inherit;

    .text {
      color: abstracts.$white;
      font-size: 28px;
    }

    .white {
      color: abstracts.$white;
    }

    .green {
      color: abstracts.$lightgreen;
    }

    .red {
      color: palevioletred;
    }
  }

  @include abstracts.mq('mobileM') {
    // height: 150px;
    font-size: 35px;
  }
}
