@use '@/ui//abstracts';


.container {
  
  @include abstracts.mq('mobileS') {
    @include abstracts.boxProperty(100%,100%,'', 0px, inherit);
    @include abstracts.displayFlex(flex-start, flex-start,column nowrap);
    gap: 10px;
    // background: blue;

    .searchbarWrapper {
      @include abstracts.boxProperty(100%,70px,'', 5px, abstracts.$primary);
      border-radius: 5px;
      color: abstracts.$white;
    };

    .contentWrapper {
      @include abstracts.boxProperty(100%,95%,'', 10px, abstracts.$primary);
      // min-height: 820px;
      // max-height: 83%;
      border-radius: 5px;

      color: white;

    }
  };

  }
