@use '@/ui/abstracts';

.container {
  @include abstracts.mq('mobileS') {
    display: none;
  }

  @include abstracts.mq('laptop') {
    @include abstracts.boxProperty(100%, 100%, '', 0px, abstracts.$primary);
    @include abstracts.displayFlex(flex-start, flex-start, column nowrap);
    gap: 20px;

    .userprofileWrapper {
      @include abstracts.boxProperty(70px, 70px, '', 5px);
      // border-bottom: 1px solid white;
      position: relative;
      // border-radius: 50%;
      .img {
        border-radius: 50%;
      }
    }

    .wrapper {
      @include abstracts.boxProperty(100%, 100vh, '', 10px);
      list-style: none;
      @include abstracts.displayFlex(space-around, flex-start, column nowrap);

      .linkWrapper {
        @include abstracts.boxProperty(100%, 45px, '', 8px);
        border-radius: 10px;
        color: white;

        .icon {
          font-size: medium;
        }
        a {
          @include abstracts.boxProperty(100%, 100%);
          @include abstracts.displayFlex(flex-start, center, row nowrap);
          gap: 10px;
          text-decoration: none;
          color: white;
        }

        &:hover {
          background: abstracts.$grey;
        }
      }
      .logout {
        @include abstracts.boxProperty(100px, 45px);
        @include abstracts.displayFlex(flex-start, center, row nowrap);
      }
    }
  }
}
