@use '@/ui/abstracts';

.container {
  @include abstracts.mq('laptop') {
    width: 100%;

    .controlBar {
      padding-left: 10px;
      .searchbarWrapper {
        background: red;
      }
    }

    .contentWrapper {
      @include abstracts.boxProperty(100%, 100vh, '', 5px, inherit);
      @include abstracts.displayFlex('center', 'center');
    }
  }
}
