@use '@/ui/abstracts';

.container {
  @include abstracts.boxProperty(100%,40px,'', 10px, inherit);
  @include abstracts.spaceBetween(row nowrap);

  .button {
    width: 80px;
    height: 30px;
    border: none;
    outline: none;
    border-radius: 5px;
  };

  .prevButton {
    background-color: purple;
  };

  .nextButton {
    background-color: grey;
  }

}
