@use '@/ui/abstracts';

.container {
  @include abstracts.mq('laptop') {
    @include abstracts.boxProperty(100%, 100%, '', 0px, abstracts.$special);
    background: #16161B;

    .wrapper {
      @include abstracts.boxProperty(100%, 100%, '', 0px, abstracts.$special);
    // background: #16161B;
      gap: 20px;
      margin: 0;

      .layout1 {
        width: 100%;
        background: inherit;
        // background: abstracts.$blue;
        // margin-top: 10px;
      }

      .layout2 {
        height: 500px;
        width: 100%;
        // padding: 0;
        margin-top: 10px;
        background: abstracts.$white;
      }

      .layout4 {
        height: 700px;
        width: 100%;
        background: abstracts.$black;

        h2,
        h3,
        p {
          color: abstracts.$white;
        }

        h2 {
          font-size: 1.7rem;
        }
        h4 {
          color: blue;
          font-size: 1.2rem;
        }
        p {
          font-size: 1.1rem;
        }
      }

      .layout3 {
        height: 500px;
        width: 100%;
        // padding: 0;
        margin-top: 30px;
        background: abstracts.$white;
        // position: relative;
        // @include abstracts.displayCenter;
      }

      .layout6 {
        // height: 900px;
        padding:10px;
        // background: blue;
      }

      .layout8 {
        height: 400px;
        width: 100%;
        margin-top: 30px;
        background: abstracts.$purple;
      }

      .layout9 {
        width: 100%;
        height: 600px;
      }
    }
  }
  @include abstracts.mq('laptopM') {
  }
}
