@use '../../abstracts';

.container {
  @include abstracts.mq('mobileS') {
    @include abstracts.boxProperty(100%,100%);
    @include abstracts.displayFlex(space-around, center,column nowrap);
    grid-area:f;
    height:100%;
    background: abstracts.$black;

    &>div {
      border-radius: 5px;
      background: none;
    }
  };

  @include abstracts.mq('tablet') {
    @include abstracts.spaceAround(row nowrap);
    padding: 30px;

  }
};

