@use '@/ui/abstracts';

.container {
  @include abstracts.mq('mobileS') {
    @include abstracts.boxProperty(100%, 100%, '', 20px, inherit);
    @include abstracts.displayFlex(space-between, center, column nowrap);
    font-size: 0.8rem;
    color: white;
    // background: grey;
    // gap: 20px;

    .section1 {
      @include abstracts.boxProperty(100%, '', '', 0px, inherit);
      @include abstracts.displayFlex(space-between, center, column nowrap);
    // font-size: 0.7rem;
      // margin-bottom: 10px;
      // background: blue;
        position: relative;
        bottom:20px;

      .signinText {
        @include abstracts.boxProperty(100%, 55px, '', 0px, inherit);
        @include abstracts.displayFlex(space-between, center, column nowrap);
        // background:grey;

        .header {
          width: 100%;
          height: 30px;
          @include abstracts.displayFlex(center, center);
          // background: green;
          font-size: 0.9rem;
        }

        .subHeader {
          width: 100%;
          height: 20px;
          @include abstracts.displayFlex(center, center);
          // background: grey;
          font-size: 0.8rem;
        }
      }

      .googleLoginWrapper {
        width: 100%;
        height: 40px;
        @include abstracts.displayFlex(center, center);
        // background: red;
      }

      .separator {
        width: 100%;
        height: 10px;
        @include abstracts.displayFlex(space-between, flex-end, row nowrap);
        position: relative;

        .before {
          width: 50%;
          height: 1px;
          background: abstracts.$light;
        }

        .after {
          width: 50%;
          height: 1px;
          background: abstracts.$light;
        }
      }
    }

    .form {
      @include abstracts.boxProperty(100%, 230px, '', 0px, inherit);
      @include abstracts.displayFlex(space-around, center, column nowrap);
      font-size: 0.8rem;
      // background: abstracts.$red;

      .errorWrapper {
        @include abstracts.boxProperty(100%, 40px, '', 3px, inherit);
        @include abstracts.displayFlex(center, center);
        color: abstracts.$black;
        // background: grey;
        // margin: 10px;

        .error {
          width: 100%;
          // height: 100%;
          text-align: center;
          background: #eeeeee;
          color: black;
          padding: 10px;
          border-radius: 5px;
        }
      }

      .inputContainer {
        @include abstracts.boxProperty(100%, 200px, '', 5px);
        @include abstracts.displayFlex(space-around, center, column nowrap);
        // background: blue;
        min-height: 200px;
        max-height: 300px;
        gap: 20px;


        .emailInputWrapper {
          @include abstracts.boxProperty(100%, 55px, '', 0);
          @include abstracts.displayFlex(
            space-between,
            flex-start,
            column nowrap
          );
          // background: blue;

          .emailLabel {
            font-size: 0.8rem;
          }

          .input {
            @include abstracts.boxProperty(
              100%,
              30px,
              '',
              5px,
              abstracts.$light
            );
            // font-size: 1rem;
            border: none;
            border-bottom: 1px solid;
            border-radius: 7px;
            outline: none;
            font-size: 0.9rem;
          }
        }

        .passwordInputWrapper {
          @include abstracts.boxProperty(100%, 55px, '', abstracts.remsize(0));
          border-bottom: 1px solid abstracts.$black;
          @include abstracts.displayFlex(
            space-between,
            flex-start,
            column nowrap
          );
          .passwordLabel {
            font-size: 0.8rem;
          }
          .eyeContainer {
            @include abstracts.boxProperty(
              100%,
              abstracts.remsize(30),
              '',
              5px,
              abstracts.$white
            );
            border-radius: 7px;
            @include abstracts.displayFlex(space-between, center, row nowrap);
            .signinInput,
            .signupInput {
              width: 90%;
              border: none;
              height: 90%;
            }
            .passwordEyeOpen,
            .passwordEyeClose {
              color: abstracts.$black;
              font-size: 1.1rem;
              // width: 10px;
            }
            .input {
              @include abstracts.boxProperty(
                90%,
                30px,
                '',
                abstracts.remsize(5),
                abstracts.$white
              );
              border: none;
              color: abstracts.$black;
              font-size: 0.9rem;
              outline: none;
            }

            .passwordEyeWrapper {
              cursor: pointer;
              @include abstracts.displayFlex(center, center);
              .passwordEyeOpen,
              #comfirmPasswordEyeOpen {
                display: none;
              }
            }
          }
        }

        .authButtonWrapper {
          width: 100%;
          height: 35px;
          // padding: 10px;
        }
      }
    }
    .section3 {
       @include abstracts.boxProperty(100%,80px,'',5px, inherit);
      .forgotpasswordWrapper {
        width: 100%;
        height: 30px;
      }

      .accountWrapper {
        @include abstracts.boxProperty(100%, 40px, '', 0px, none);
        @include abstracts.displayFlex(center, center);
        color: abstracts.$black;
      }
    }
  }
}
