@use '@/ui/abstracts';

.container {
  @include abstracts.mq('mobileS') {
    @include abstracts.boxProperty(100%, 400px, '', 0px, abstracts.$white);
    @include abstracts.displayFlex(space-between, center, column nowrap);
    font-size: 0.8rem;
    border: 1px solid abstracts.$light;
    min-height: 400px;
    max-height: 500px;

    .authTextWrapper {
      @include abstracts.boxProperty(100%, 100px, '', 0px, inherit);
      @include abstracts.displayFlex(space-between, center, column nowrap);
    }

    .form {
      @include abstracts.boxProperty(100%, 250px, auto, 0px, abstracts.$white);
      @include abstracts.displayFlex(center, center, column nowrap);
      font-size: 0.9rem;

      .errorWrapper {
        @include abstracts.boxProperty(100%, 40px, auto, 5px, inherit);
        @include abstracts.displayFlex(center, center);
        color: abstracts.$black;
        // margin: 10px;

        .error {
          width: 100%;
          // height: 100%;
          text-align: center;
          background: #eeeeee;
          color: black;
          padding: 10px;
        }
      }

      .inputContainer {
        @include abstracts.boxProperty(100%, 300px, '', abstracts.remsize(5));
        @include abstracts.displayFlex(space-around, center, column nowrap);
        // background: blue;

        .emailInputWrapper {
          @include abstracts.boxProperty(100%, 50px, '', '0', 'white' );
          @include abstracts.displayFlex(
            space-between,
            flex-start,
            column nowrap
          );

          .input {
            @include abstracts.boxProperty(
              100%,
              40px,
              '',
              abstracts.remsize(5),
              abstracts.$light
            );
            font-size: 1rem;
            border: none;
            border-bottom: 1px solid;
            outline: none;
            font-size: 0.9rem;
            background: abstracts.$white;
          }
        }

        .passwordInputWrapper {
          @include abstracts.boxProperty(100%, 40px, '', abstracts.remsize(0));
          border-bottom: 1px solid abstracts.$black;
          @include abstracts.displayFlex(
            space-between,
            flex-start,
            column nowrap
          );
          // background: red;
          .eyeContainer {
            @include abstracts.boxProperty(
              90%,
              abstracts.remsize(30),
              '',
              abstracts.remsize(0),
              abstracts.$white
            );
            @include abstracts.displayFlex(space-between, center, row nowrap);
            .signinInput,
            .signupInput {
              width: 90%;
              border: none;
              height: 90%;
            }
            .passwordEyeOpen,
            .passwordEyeClose {
              color: abstracts.$black;
              font-size: 1.1rem;
              // width: 10px;
            }
            .input {
              @include abstracts.boxProperty(
                90%,
                40px,
                '',
                abstracts.remsize(5),
                abstracts.$white
              );
              border: none;
              color: abstracts.$black;
              font-size: 0.9rem;
              outline: none;
              // background: abstracts.$white;
            }

            .passwordEyeWrapper {
              cursor: pointer;
              @include abstracts.displayFlex(center, center);
              .passwordEyeOpen,
              #comfirmPasswordEyeOpen {
                display: none;
              }
            }
          }
        }

        .forgotpasswordWrapper {
          width: 100%;
          height: 30px;
          // background: red;
        }

        .authButtonWrapper {
          width: 100%;
          height: 40px;
          background: abstracts.$black;
          border-radius: 10px;
          padding: 10px;
        }

        .accountWrapper {
          @include abstracts.boxProperty(100%, 40px, '', 0px, none);
          @include abstracts.displayFlex(space-between, center, row nowrap);
          color: abstracts.$black;
          text-align: center;
          // background: red;
        }
      }
    }
  }
}
