@use '../../abstracts';

.container {
  @include abstracts.mq('mobileS') {
    @include abstracts.boxProperty(120px,35px);
    position:relative;
    background: rgba(119, 62, 234, 1);
    border-radius: 30px;

    a {
      @include abstracts.boxProperty(100%,100%);
      @include abstracts.displayFlex(center,center);
      text-align:center;
      color:white;
      text-decoration:none;
    }
  };

  @include abstracts.mq('laptop') {
    @include abstracts.boxProperty(120px,40px);
    border-radius: 30px;

    a {
      @include abstracts.boxProperty(100%,100%);
      @include abstracts.displayFlex(center,center);
      text-align:center;
      color:white;
      text-decoration:none;
      text-decoration: none;
    }
     &:hover {
      position:relative;

      .signinHoverWrapper {
        @include abstracts.animations(OpacityKeyframe, 1s, ease-in-out, forwards);
        @include abstracts.opacityKeyframe;
        display:inline-block;
        background:grey;
        pointer-events: inherit;
        position:absolute;
      };

     };
  };
};
