@use '@/ui/abstracts';
@use './_inputWrapper.scss';

.container {
  @include abstracts.mq("mobileS") {
    @include abstracts.boxProperty(100%,100%,'', 0px, inherit);
    @include abstracts.displayFlex(center, center);
    margin-top: 90px;
    // background: grey;

    .form {
    @include abstracts.boxProperty(300px,500px,'', 0px, inherit);
      @include abstracts.displayFlex(space-between, center, column nowrap);
      border-radius: 5px;

      .textWrapper {
        width: 100%;
        height:100px;
        @include abstracts.displayFlex(space-between, center, column nowrap);
        text-align: center;
        padding-bottom: 5px;

        h2 {
          color:white;
          width: 100%;
          border-bottom: 1px solid white;
        };

        .messageWrapper {
          width: 100%;
          // height: 60px;
          color: white;
          padding: 5px;
          // background: white;
          border-radius: 5px;
        }
      };
    };
  };

  @include abstracts.mq('mobileM') {
    .form {
      width: 400px;
    }
  };

  @include abstracts.mq('laptop') {
    margin-top: 0px;
    align-items: flex-start;
    // background: purple;
    .form {
      margin-top: 50px;
    }
  }
};
