@use '@/ui/abstracts';

.container {
  @include abstracts.mq('mobileS') {
    @include abstracts.boxProperty(100%,100%,'',0px, abstracts.$primary);
    @include abstracts.displayFlex(space-between,center,column nowrap);
    padding: 5px;

    .textWrapper {
      @include abstracts.boxProperty(100%,40px,'',0px);
      text-align: center;
      font-size: .8rem;
      color: white;
    };

    .userWrapper {
      @include abstracts.boxProperty(100%,650px);
      @include abstracts.displayFlex(space-between,center,column wrap);
      // background: grey;

      .imageWrapper {
        @include abstracts.boxProperty(80px,80px,'',5px);
        border-radius: 50%;

        img {
          border-radius: 50%;
          width: 100%;
          height: 100%;
        };

      };
        
      .credentialsWrapper {
        @include abstracts.boxProperty(100%,500px,'',20px,inherit);
        @include abstracts.displayFlex(space-around,center,row wrap);
        font-size:.9rem;
        color:white;

        .inputWrapper {
          @include abstracts.boxProperty(100%,50px,'',1px);
          @include abstracts.displayFlex(center,center);
          // background: red;
          border-radius: 5px;
          border: 1px solid white;
        };

        .address {
         @include abstracts.boxProperty(100%,100px);
         min-height: 100px;
         max-height: 200px;
          .textareaWrapper {
            @include abstracts.boxProperty(100%,90%,'');
            background: yellow;
          }
        }
      }
    }
  };
};
