  @use '../../abstracts';

.container {
  width: 150px;
  height: 100%;
  // background: yellow;
  @include abstracts.displayFlex(center,center);
    margin-left: auto;

  a {
    color: abstracts.$blue;
    font-size:.8rem;
    text-decoration: none;
    text-align: right;
  }
}
